
.card{
    margin: auto;
    text-align: center;
    border: 3px solid white;
    width: 50%;
   
}
.quizStart{
    visibility: visible;
}

.questions{
    display: flex-start;
}
.questions button{
    background-color: rgb(80, 1, 80);
    padding: 2px;
    border: 1px solid white;
    margin-left: 30px;
    margin-bottom: 3px;
    color:white;
    text-align: center;
    display: block;
    font-size:16px;
    border-radius: 5px;

}
.questions button:hover{
    background-color: rgb(185, 127, 185);
}
button{
    background-color: rgb(80, 1, 80);
    padding: 2px;
    border: 1px solid white;
    margin-left: 30px;
    margin-bottom: 3px;
    color:white;
    text-align: center;
    font-size:16px;
    border-radius: 5px;

}
header{
    display: inline-flex;
}